.Results-container {
    height:100%;
    display:flex;
    flex-direction: column;
}

.Results-header {
    width:100%;
    height:80px;
}

.Results-body{
    height:100%;
}
.Results-resultsList {
    margin-top:25px;
}