.ResultsList-resultItem {
    width:600px;
    min-height:98px;
    text-align:left;
    margin-left:116px;
    margin-top:20px;
    text-overflow: ellipsis;
}

.ResultsList-resultItemLink{
    color:rgb(136, 136, 136);
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.ResultsList-resultItemTitle{
   font-size:15pt;
}

.ResultsList-resultItemTitle:hover{
    text-decoration: underline;
 }
 
.ResultsList-resultItemLinks {
    display:flex;
    flex-direction: column;
    text-decoration: none;
}

.ResultsList-resultItemBody {
    width:100%;
    min-height:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}