.SearchForm-searchBar {
  width: 370px;
  height:15px;
  background: #fff;
  /*color: $input-text-color;*/
  font: inherit;
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 18px 18px;
}
  
