.Footer-container {
    width:100%;
    height:90px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Footer-arrowImage {
    width:7%;
}

.Footer-arrowImage:hover {
    cursor: pointer;
}