.Footer-container {
    width:100%;
    height:90px;
    margin-top:70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.Footer.button{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Footer-pageNumbers {
    display: flex;
    flex-direction: row;
}

.Footer-arrowImage {
    width:5%;
}

.Footer-pageNumberItem {
    width:40px;
}
.Footer-pageNumberItem a {
    color:blue;
    text-decoration: underline;
}

.Footer-arrowImage:hover, .Footer-pageNumberItem a:hover {
    cursor: pointer;
}

